body {
    background-color: #111111;
}

h2 {
    color: white;
    letter-spacing: 1.5px;
}

p {
    font-family: 'TaipeiSans';
    font-weight: bold;
    letter-spacing: 1.5px;
}

.modal-body {
    font-family: "TaipeiSans";
    font-weight: bold;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#app {
    padding: 10vh 0 0 0;
    height: 100vh;
}