@font-face {
    font-family: 'MantouSans';
    src: url('../fonts/MantouSans.ttf') format('truetype');
}

@font-face {
    font-family: 'TaipeiSans';
    src: url('../fonts/TaipeiSans.ttf') format('truetype');
}

body {
    font-family: 'MantouSans', sans-serif;  /* sans-serif 作為後備字型 */
}

.logo-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100; /* 確保在最上層 */
    padding: 10px 0;
}

.logo {
    height: 100vh;
    margin: 0 auto;
    background-image: url('../images/stc_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banner {
    background-image: url('../images/IMG_0823.JPG');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-section {
    position: fixed;
    right: 0;
    top: 10%;
    padding: 10px 10px;
    z-index: 1200;
    width: auto;
}

.nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-section a {
    color: white;
    background-color: #000;
    font-style: italic;
    text-decoration: underline;
    padding: 5px 0;
    display: block;
    text-align: right;
    white-space: nowrap;
}

.nav-section a:hover {
    background-color: #808080;
}

.nav-section a.active {
    background-color: #808080;
}

.news-section {
    background: #111111;
    color: white;
    padding: 140px 20px 20px 20px;
    /* 移除 height: 100vh; */
    min-height: 100vh; 
}

.news-title {
    text-align: left;
    margin-bottom: 30px;
}

.news-img {
    background: #000;
    background-image: url('../images/IMG_0823.JPG');
    background-size: cover;
    background-position: center;
    height: 150px;
}

.news-caption {
    background: #808080;
    padding: 10px;
    color: white;
}

.news-caption p
{
    font-family: "TaipeiSans", sans-serif;
}

.footer {
    background: #000000;
    color: white;
    height: 20vh;
    text-align: center;
    display: grid;
    place-items: center; 
}